<!DOCTYPE html>
<html>
	<head>
    	<title></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="components/jquery/dist/jquery.min.js" type="text/javascript"></script>
		<script src="components/socket.io/socket.io.js" type="text/javascript"></script>
		<script src="scripts/photobooth.js" type="text/javascript"></script>
	</head>
  	<body onload="pb.init()">
		<div id="mainContainer" >
			<input onclick="pb.takePhoto()" type="button" value="Take Photo" />
			<video ></video>
		</div>
		<div id="model" style="display:none;background-color: #EFEBEB;padding: 50px;text-align:center;box-shadow: 0 0 20px #909090;box-sizing: border-box;left: 50%;position: fixed;top: 50%;transform: translate(-50%, -50%);">
			<div id="start">
				<span style="font-size: 36px;">Say Cheese!</span>
				<br>
				<br>
				<span id="countdown" style="font-size: 80px;">3</span>
			</div>
			<div id="finish" style="display:none">
				<img id="currentPhoto" src="" />
			</div>
		</div>
  	</body>
</html>
