body {
	padding: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin:0;
	background-color:#666;
}
a {
  color: #00B7FF;
}
video {
	height:720px;
	width:1280px;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	border:4px solid black;
}
label {
	position:absolute;
	left:50%;
	top:90%;
	transform: translate(-50%,-90%);
}
input {
	height:35px;
	width:140px;
	font-size: 19px;
	position:absolute;
	left:50%;
	top:85%;
	transform: translate(-50%,-85%);
	z-index:1000;
}
